.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.event-paragraph {
  font-size: 30px;
}

/* Adjust font size for mobile view */
@media only screen and (max-width: 767px) {
  .event-paragraph {
    font-size: 7px;
  }
}
