.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.event-paragraph {
  font-size: 25px;
}

@media only screen and (max-width: 767px) {
  .event-paragraph {
    font-size: 7px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .event-paragraph {
    font-size: 14px;
  }
}

@media only screen and (min-width: 100px) and (max-width: 766px) {
  .event-paragraph {
    font-size: 5.5px;
  }
}
