@import url(../../index.css);

.leaderboard {
  flex: 1;
}
.container {
  font-family: InsideOut;
  /* background: linear-gradient(#23174A, #743C7C);
  background-attachment: fixed; */
}
.container-full {
  background: linear-gradient(#23174a, #743c7c);
  background-attachment: fixed;
}

h1 {
  text-shadow: 3px 3px 0px #c13e3e;
  -webkit-text-stroke: 1px #c13e3e;
}

button {
  z-index: 100;
  position: relative;
}

select {
  z-index: 100;
  position: relative;
}
