@import url(../../index.css);

.leaderboard{
  flex: 1;
}
.container{
  font-family: InsideOut;
  /* background: linear-gradient(#23174A, #743C7C);
  background-attachment: fixed; */
}
.container-full{
  background: linear-gradient(#23174A, #743C7C);
  background-attachment: fixed;
}

h1 {
  text-shadow: 3px 3px 0px #C13E3E; 
  -webkit-text-stroke: 1px #C13E3E;
}

button {
  z-index: 100;
  position: relative;
}

select {
  z-index: 100;
  position: relative;
}