.aboutUs {
  flex: 1;
}

.backgroundColor {
  background-image: linear-gradient( #3F2E7C, #7E4081)
}

.header {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 48px;
}

.aboutUsImage {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;;
  align-items: center;
  width: 500px;
  min-height: 500px;
  object-fit: cover;
  border-radius: 25px;
  background-color: lightgray;
  opacity: 1;
}

.body {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
}

.textContainer {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  width: 800px;
  min-height: 200px;
}

.socialMediaContainer {
  margin: 0 auto;
  display: flex;
  width: 600px;
  min-height: 230px;
  background-color: lightgray;
  opacity: 1;
}

.sponsorContainer {
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  width: 550px;
  min-height: 200px;
  background-color: lightgray;
  opacity: 1;
}

.anthemContainer {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;;
  align-items: center;
  width: 600px;
  min-height: 150px;
  object-fit: cover;
  border-radius: 25px;
  background-color: lightgray;
  opacity: 1;
}

.anthemTextContainer {
  column-count: 1;
  margin: 0 auto;
  margin-top: 30px;
  width: 600px;
  min-height: 200px;
}