.committee-card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 480px;
    height: 600px;
    background-image: url('./img/card.png');
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.card-points {
    width: 119.72px;
    height: 16.14px;
    left: 64.35px;
    top: 408px;

    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #38255E;
}

.card-description {
    font-family: 'InsideOut';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: #38255E;
}

.card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.close-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}
