.carousel {
    transition: transform 0.2s ease-in-out;
}

.carousel-border {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.35) 30%, rgba(0,0,0,0) 100%);
}